.foto{
  width: 100px;
}

  .blok_foto {
    background: red;
    position: fixed;
    top: 0;
    right:0;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
  }  